*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html  {
    font-size: 100%;
}

main  {
    display: flex;
}

ul  {
    list-style: none;
}

/* left navbar */
.left-navbar  {
    height: 100vh;
    width: 300px;
    background-color: black;
    overflow-y: scroll;
}

.left-navbar ul li  {
    font-size: 1.5em;
    color: white;
    line-height: 3em;
    border-bottom: 1px solid white;
}

.left-navbar ul li:first-child  {
    line-height: 5em;
    font-size: 1.7em;
    color: cyan;
}

/* top navbar */
.main-content  {
    width: 100%;
    background-color: rgba(32, 42, 65, 0.9);
}

h1  {
    color: white;
    font-size: 4em;
}

.main-header {
    background-color: rgba(8, 11, 18, 0.9);
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.main-header:after {
    content: "";
    display: table;
    clear: both;
}

.main-content ul li  {
    line-height: 2em;
    font-size: 2em;
    border-bottom: 1px solid black;
    padding: 0 1em;
}

/* input */
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

.check  {
    text-decoration: line-through;
}

.flex  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}